.motivate__title{

  text-transform: uppercase;

  font-family: 'LeagueGothic';
  font-style: normal;
  font-weight: 400;
  font-size: 50px;
  line-height: 1.15;
  letter-spacing: 2px;

  margin: 0 0 30px 0;
  padding: 0;

  color: #AB8B62 ;
}

.motivate__title::selection{

  color: white;
  background-color: #AB8B62;
}
